<h1>Find a Pet</h1>

<div id="animal-select">
    <select autofocus ng-change="getAnimal()" ng-model="animal">
        <option value="barnyard">Barnyard Animal</option>
        <option value="bird">Bird</option>
        <option value="cat">Cat</option>
        <option value="dog">Dog</option>
        <option value="horse">Horse</option>
        <option value="pig">Pig</option>
        <option value="reptile">Reptile</option>
        <option value="smallfurry">Small Furry Animal</option>
    </select>
</div>

<div>
    <h1>Name: {{animal.name.$t}}</h1>
    <img ng-src="{{animal.media.photos.photo[2].$t}}" />
    <p>{{animal.description.$t}}</p>
</div>

<p><a href="#favorite">View Favorites</a></p>

<!--I still need to do this. I think it has to be done from the factory-->
<p>Animals Favorited: {{favoriteCount}}</p>

<button ng-click="addToFavorites()">Add {{animal.name.$t}} to Favorites</button>